.container {
	margin: auto;
	background-color: white;
	border: solid;
	border-color: black;
	position: relative;
	top: 40%;
	transform: translateY(-50%);
	width: 400px;
	height: 400px;
}

.grid {
	background-color: white;
	float: left;
}

.outter {
	background-color: red;
	border-radius: 5%;
	margin: auto;
	position: relative;
	height: 600px;
	width: 600px;
}

.title {
	text-align: center;
	margin: auto;
	padding-top: 15px;
}